pyyaml>=4.2b1
Twiggy==0.4.4
bottle==0.10.9
git+git://github.com/zeekay/bottle-websocket.git
gevent==0.13.7
gevent-websocket==0.3.6
greenlet==0.3.4
psutil==0.4.1
redis==2.4.11
ujson==1.18
wsgiref==0.1.2
