body
{
    background-color: #000;
    color: #EEE;
    font-family: Verdana, Sans-serif;
}

.title
{
    text-align: center;
}

.set
{
    margin-bottom: 20px;
}

h2
{
    margin: 0;
}

.graph
{
    border: 1px #444 solid;
}

.gauge-title
{
    text-align: center;
}

.gauge
{
    width: 150px;
    height: 150px;
}
