body
{
    background-color: #000;
    color: #EEE;
    font-family: Verdana, Sans-serif;
}

.title, .gauge-title
{
    text-align: center;
}

.set
{
    margin-bottom: 20px;
}

h2
{
    margin: 0;
}

.graph
{
    border: 1px #444 solid;
}

.readout
{
    position: relative;
    top: 7px;
}
.readout div:first-child
{
    float: left;
}
.readout div:last-child
{
    float: right;
}

.left-bullet
{
    color: #0F0;
}
.left-title
{
    text-indent: -20px;
}

.right-bullet
{
    color: #F00;
}
.right-title
{
    text-indent: 26px;
}

.graph-title
{
    float: left;
    width: 180px;
}
